.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: .25rem;
  //Below is for desktop browsers
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: .5rem;
    align-items: center;
  }
}

.input-group__item {
  margin-bottom: .5rem;
  @media (min-width: $desktop-breakpoint) {
    margin: 0 .5rem 0 0;
  }
}
